body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.puzzleContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  perspective: 1500px;
}

.puzzle {
  margin: 1%;
  height: 20%;
  width: 20%;
  background-color: #08415C;
  border-radius: 10%;
}

.turn {
  background-color: #CC2936;
  transform: rotateY(360deg);
  transition: all 0.5s ease-in-out;
}
p {
  display: none;
}

.turn p {
  font-size: calc(3vh + 3vw);
  transition: 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 12%;
  color: #EBBAB9;
}

.success {
  background-color: #B5FFE1;
}

button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: black; /* Green */
  border: none;
  color: white;
  height: calc(5%);
  width: calc(20%);
  text-align: center;
  button-style: none;
  font-size: calc(1vh + 1vw);
  margin-top: 15px;
}
