body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
* {
  font-family: 'Indie Flower', cursive;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}


.puzzleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  top: 5%;
  margin: 0 auto;
  perspective: 1000px;
  position: relative;
  border: 5px solid #EBBAB9;
  border-style: dashed;
  cursor: pointer;
}

.puzzle {
  margin: 1%;
  height: 20%;
  width: 20%;
  background-color: #08415C;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;

}

.boxShadow {
  box-shadow: 3px 3px 3px #4f4f4f;
}

.transition {
  transform: rotateY(360deg) rotateX(360deg);
  transition: all 0.5s ease-in-out;
}

.turn {
  background-color: #CC2936;
  transform: rotateY(360deg) rotateX(360deg) translateZ(50px);
  transition: all 0.8s ease-in-out;
}
p {
  display: none;
}

.turn p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(3.5vh + 3vw);
  transition: 0.3s ease-in;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #EBBAB9;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}

h1 {
  font-size: calc(2vh + 2vw);
  padding-top: 30px;
  display: inline-flex;
  color: white;
}


.cardSucces {
  background-color: #EBBAB9;
  color: #08415C;
  margin: 0 auto;
  top: 37%;
  left: 35%;
  position: absolute;
  text-align: center;
  height: 30%;
  width: 30%;
  display: none;
  border-radius: 10px;
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}
.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
  animation-iteration-count: infinite;
}

.success {
  background-color: #B5FFE1;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #EBBAB9;
  border-color: white;
  color: white;
  height: 5%;
  width: 20%;
  text-align: center;
  text-decoration: underline;
  font-size: calc(1vh + 1vw);
  margin-top: 1%;
  outline-color: inherit;
  transition: 0.2s ease-in;
}

button:active {
  outline-color: inherit;
}

button:hover {
  background-color: #b48887;
  color: #08415C;
}
